extends default

block header

block content
  div.profile
    div.img-container
      div.profile-image(style=`background: url('/images/${person.profile_pic}') top center
      no-repeat; background-size: cover;`)
      div.profile-image2(style=`background: url('/images/${person.profile_pic}') top center
      no-repeat; background-size: cover;`)
    div.profile-details
      h1.profile-name
        | #{person.stage_name} 
      h2 #{person.real_name}
      if person.Group != ''
        h3.profile-tagline
          | #{person.Group}
      else
        h3.profile-tagline
          | Solo Artist
      p.profile-details
        | #{person.bio}
      a.button.button-kpopping(href=`${person.kpopping}`) Kpopping Profile
      if person.instagram != ''
        a.button.button-instagram(href=`${person.instagram}`)
          | Follow on Instagram