extends default

block header
block nav
  nav.profile-nav
    ul
      - var list = ["groups", "idols", "random"]
      each item in list
        li
          a(href=`/${item}`)= item
block content
  div.profile
    div.img-container
      div.profile-image2(style=`background: url('/images/${person.profile_pic}') center
      no-repeat; background-size: cover;`)
    div.profile-details
      h1.profile-name
        | #{person.stage_name} 
      h2.profile-realname #{person.real_name}
      if person.group != ''
        h3.profile-tagline
          - var groups = person.group.split(", ")
          ul
            for g in groups
              li 
                a(href=`/profile-group?name=${g}`)=g
      else
        h3.profile-tagline
          | Solo Artist
      if person.bio != ''
        div.profile-bio
          | #{person.bio}
      a.button.button-kpopping(href=`${person.kpopping}`) Kpopping Profile
      if person.instagram != ''
        a.button.button-instagram(href=`${person.instagram}`)
          | Follow on Instagram
      a.button(href=`/`) < HOME